// catalog
.catalog
	margin-bottom: 100px

	&-banner
		display: flex
		justify-content: space-between

		&-image
			width: 50%

			border-radius: 12px 0px 0px 12px

			+backgroundSetting

		&-text
			text-align: center
			width: 50%
			padding: 58px

			background-color: $lightBackgroundColor
			border-radius: 0px 12px 12px 0px

			&__title
				font-weight: 400
				font-size: 26px
				margin-bottom: 12px

			&__description
				font-size: 14px
				margin-bottom: 20px

				+GilroyMedium

			&__link
				width: 185px

	&-filters-top
		margin-top: 55px

		display: flex
		justify-content: space-between
		align-items: center

		&__count
			color: $gray
			font-size: 16px

			+GilroyMedium

		&-sort
			&__title
				font-size: 16px

				+GilroyMedium

				& > svg
					margin-left: 13px

	&-blocks-and-filters-wrapper
		display: flex
		align-items: flex-start

	&-filters
		width: 285px
		margin-top: 30px

		&-block
			border-top: 1px solid #D9D9D9
			padding-top: 15px
			padding-bottom: 15px
			cursor: pointer

			&.disabled
				pointer-events: none
				opacity: 0.5

			&-top
				display: flex
				align-items: center
				justify-content: space-between

				&__title
					user-select: none
					font-size: 22px
					+GilroyMedium

			&-content
				margin-top: 15px

				&-price
					&-input-wrapper
						display: flex
						justify-content: space-between

					&-input
						padding: 5px 10px
						width: 48%
						background-color: $lightBackgroundColor
						border-radius: 12px
						border: 0.5px solid $gray

						&.min
							position: relative

							&::before
								content: ""
								position: absolute
								display: block

								top: 50%
								transform: translateY(-50%)
								right: -7px

								width: 1px
								height: 12px

								background-color: $gray

						&__subtitle
							display: block
							font-size: 12px
							color: $gray
							margin-bottom: 4px

							+GilroyMedium

						&-field
							display: flex
							align-items: center

							&__subtitle
								user-select: none
								font-size: 18px

								+GilroyMedium

							&__input
								margin-left: 4px
								font-size: 18px
								border: none
								outline: none

								background-color: transparent

								+GilroyMedium

								&:placeholder
									color: $gray

				&-state
					&-checkbox
						margin-bottom: 10px

				&-brands
					&-checkbox
						margin-bottom: 10px

				&-sex
					&-checkbox
						margin-bottom: 10px

		&-btn
			border-top: 1px solid #D9D9D9
			padding-top: 15px

			&__btn
				width: 100%

	&-goods-wrapper
		width: 100%

		margin-top: 30px
		margin-left: 55px

		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&-goods
		&-block
			position: relative

			display: flex
			flex-direction: column
			align-items: center

			width: 24%
			border-radius: 12px
			padding: 10px
			background-color: #F8F8F8
			text-align: center

			margin-bottom: 25px

			overflow: hidden

			+GilroyMedium

			&:hover &-cover
				height: 250px

			&:hover &-cover-arrow
				opacity: 1

			&:hover &-text__btn
				bottom: 14px

			&-cover
				position: relative

				width: 100%
				height: 300px

				+transition

				&-arrow
					cursor: pointer
					position: absolute

					top: 50%

					opacity: 0

					+transition

					&.prev
						left: 12px

					&.next
						right: 12px

				&-favorite
					cursor: pointer

					position: absolute
					top: 12px
					right: 12px

					&:hover svg
						fill: $black

					&:hover &__count
						color: $black

					& > svg
						fill: $gray
						+transition

					&__count
						display: block
						user-select: none
						font-size: 12px
						color: $gray

						+transition

				&-dots
					display: flex

					position: absolute

					bottom: 8px
					left: 50%

					transform: translateX(-50%)

					&-item
						cursor: pointer
						margin: 0 4px

						height: 6px
						width: 6px

						background-color: #D9D9D9

						border-radius: 50%

						&.active
							background-color: $mainColor

				&-image
					width: 100%
					height: 100%
					border-radius: 6px
					+backgroundSetting

			&-text
				width: 100%

				display: flex
				flex-direction: column
				align-items: center

				margin-top: 10px

				&__brand
					font-size: 12px
					margin-bottom: 5px

				&__model
					font-size: 16px
					margin-bottom: 10px

				&-state
					display: flex
					align-items: center
					margin-bottom: 10px

					&__subtitle
						font-size: 14px
						padding-right: 5px
						margin-right: 5px

						border-right: 1px solid #D9D9D9

					&__title
						display: flex
						align-items: center

						font-size: 14px

						color: $mainColor

						& > svg
							cursor: pointer

							width: 14px
							margin-right: 5px

				&-priceretail
					cursor: pointer
					position: relative
					margin-bottom: 5px

					&:hover &__message
						opacity: 1
						visibility: visible
						bottom: 30px

					&__message
						width: 230px

						text-align: left

						position: absolute

						will-change: bottom

						left: -25px
						bottom: 35px

						font-size: 14px
						padding: 12px

						opacity: 0

						visibility: hidden

						background-color: $lightBackgroundColor

						box-shadow: 0px 16px 67px rgba(0, 0, 0, 0.08), 0px 10.3704px 39.2384px rgba(0, 0, 0, 0.0607407), 0px 6.16296px 21.3407px rgba(0, 0, 0, 0.0485926), 0px 3.2px 10.8875px rgba(0, 0, 0, 0.04), 0px 1.3037px 5.45926px rgba(0, 0, 0, 0.0314074), 0px 0.296296px 2.63657px rgba(0, 0, 0, 0.0192593)
						border-radius: 6px

						+transition

						& > span
							font-weight: 700

					&__subtitle
						font-size: 14px
						margin-right: 5px
						color: $gray

					&__title
						display: inline-flex
						align-items: center

						font-size: 14px

						& > svg
							width: 15px
							margin-left: 5px

				&__price
					font-size: 17px
					margin-bottom: 5px

				&__outstock
					margin-top: 25px

					display: inline-flex
					align-items: center

					font-size: 15px

					& > svg
						cursor: pointer

						width: 15px
						margin-left: 5px

				&__btn
					position: absolute
					width: calc( 100% - 20px )
					padding: 12px 18px
					opacity: 1
					left: 10px
					bottom: -50px

		&-pagination
			width: 100%

			margin-top: 25px

			display: flex
			flex-direction: column
			align-items: center

			&__btn
				width: 50%

			&-pages
				margin-top: 30px

				display: flex
				align-items: center

				&-item
					cursor: pointer

					margin: 0 14px
					padding: 12px

					font-size: 16px
					color: $mainColor

					background-color: #F6F4F0
					border-radius: 24px

					will-change: transform

					+transition

					&:hover
						+transformHover

					&:active
						+transformClick

					&.active
						background-color: $lightBackgroundColor

		&-section
			&__title
				font-weight: 400
				font-size: 22px
				margin-bottom: 25px

			&-goods
				display: flex
				justify-content: space-between

				& > .catalog-goods-block
					width: calc( 20% - 18px )