// reglog
.reglog
	&-content
		&-form
			width: 420px

			&-back
				cursor: pointer
				
				position: absolute

				top: 25px
				left: 25px

			&__title
				text-align: center
				font-size: 22px

				margin-bottom: 25px

				+ManropeMedium

			&__message
				display: flex
				align-items: center

				padding: 8px
				background-color: $backgroundColor

				font-size: 14px

				margin-bottom: 15px

				+borderRadius

				& > svg
					width: 20px
					min-width: 20px

					margin-right: 12px

			&__description
				text-align: center
				font-size: 14px

				margin-bottom: 25px

			&-input
				margin-bottom: 15px

				&:last-child
					margin-bottom: 30px

				&__title
					font-size: 16px
					margin-bottom: 8px

					+ManropeMedium

			&-checkbox
				margin-bottom: 10px

				&:last-child
					margin-bottom: 30px

			&-btn
				width: 100%

				&__btn
					width: 100%

				&__link
					margin-top: 15px

					display: block

					text-align: center
					font-size: 16px
					text-decoration: underline

			&__subtitle
				text-align: center

				margin-top: 30px
				font-size: 14px

		&-text
			width: 420px
			text-align: center

			&__title
				font-size: 22px

				margin-bottom: 15px

			&__description
				font-size: 14px

			&__link
				margin-top: 30px
				width: 100%

/* MEDIA */
@media screen and (max-width: 600px)
	.reglog
		&-content
			&-form
				width: 100%