// sell-info
.sell-info
	margin: 30px 0
	+open

	&__title
		width: 500px

		font-size: 26px
		text-align: center

		margin: 0 auto 25px auto

	// &-main
	&-main
		display: flex

		background-color: $lightBackgroundColor
		overflow: hidden

		border-radius: 24px

		margin-bottom: 60px

		&-text
			width: 100%

			padding: 75px 65px

			&__title
				font-size: 26px
				margin-bottom: 15px

			&__description
				font-size: 14px
				margin-bottom: 25px

			&__btn
				width: 230px

		&-image
			min-width: 600px
			width: 600px

			+backgroundSetting

	// &-cooperation
	&-cooperation
		margin-bottom: 60px

		&-text
			padding: 45px
			background-color: $lightBackgroundColor

			border-radius: 24px

			&__title
				font-size: 17px
				margin-bottom: 10px

			&__subtitle
				font-size: 14px
				margin-bottom: 12px

			&-list
				margin-bottom: 12px

				&:last-child
					margin-bottom: 0

				&__title
					position: relative

					font-size: 15px

					margin-left: 15px
					margin-bottom: 10px

					&::before
						content: ""
						position: absolute

						display: block

						width: 4px
						height: 4px

						top: 50%
						left: -15px

						transform: translateY(-50%)

						background-color: $black

						border-radius: 100%

				&__subtitle
					font-size: 14px

		&-types
			margin-top: 25px

			display: flex
			justify-content: space-between

			&-block
				width: calc( 50% - 12.5px )

				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				text-align: center

				padding: 45px
				background-color: $lightBackgroundColor

				border-radius: 24px

				&__title
					font-size: 17px
					margin-bottom: 10px

				&__description
					width: 90%
					font-size: 14px
					margin-bottom: 10px

				&__link
					font-size: 16px
					color: $mainColor

	// &-steps
	&-steps
		margin-bottom: 100px

		&__title
			margin-bottom: 32px

		&-blocks-wrapper
			display: flex
			justify-content: space-between

		&-block
			width: 400px
			text-align: center

			&-icon
				position: relative

				display: flex
				align-items: center
				justify-content: center

				margin-bottom: 10px

				&-arrow
					position: absolute
					right: -180px

			&__title
				font-size: 18px
				margin-bottom: 10px

				+ManropeRegular

			&__description
				font-size: 14px

	// &-steps-media
	&-steps-media
		display: none
		margin-bottom: 50px

		&__title
			margin-bottom: 32px

		&-blocks-wrapper
			display: flex
			flex-direction: column
			align-items: center

			background-color: $lightBackgroundColor
			border-radius: 24px
			padding: 20px

		&-block
			width: 310px

			text-align: center

			display: flex
			flex-direction: column
			align-items: center

			margin-bottom: 15px

			&:last-child
				margin-bottom: 0

			&__title
				font-size: 16px
				margin-bottom: 5px

			&__description
				font-size: 12px

			&-arrow
				margin-top: 15px

	// &-contact
	&-contact
		margin-bottom: 60px

		&-blocks-wrapper
			display: flex
			justify-content: space-between

		&-block
			padding: 25px 30px
			width: calc( 100% / 3 - 12.5px )

			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center

			text-align: center

			background-color: $lightBackgroundColor

			border-radius: 24px

			&-top
				&-icon
					margin-bottom: 15px

				&__title
					font-size: 22px
					margin-bottom: 15px

				&__subtitle
					font-size: 14px
					margin-bottom: 40px

	// &-service-one
	&-service-one
		display: flex
		justify-content: space-between
		align-items: center

		margin-bottom: 90px

		&-blocks-wrapper
			width: 58%

			display: grid

			grid-gap: 15px
			grid-template-rows: 50% 50%

		&-block
			display: flex
			flex-direction: column
			justify-content: space-between

			padding: 25px
			background-color: $lightBackgroundColor

			border-radius: 24px

			&-brands
				grid-column: 1
				grid-row: 1 / 3

			&-original
				grid-column: 2
				grid-row: 1

			&-state
				grid-column: 2
				grid-row: 2

			&-top
				&-icon
					display: none
					margin-bottom: 15px

				&__title
					font-size: 17px
					margin-bottom: 10px

				&__description
					font-size: 14px

			&__link
				margin-top: 15px

				font-size: 16px
				text-decoration: underline
				color: $mainColor

		&-faq
			width: 38%

			&__title
				font-size: 22px
				margin-bottom: 15px

			&__description
				font-size: 14px
				margin-bottom: 25px

	// &-service-two
	&-service-two
		margin-bottom: 75px

		&-blocks-wrapper
			display: flex
			justify-content: space-between
			flex-wrap: wrap

		&-block
			width: calc( 50% - 12.5px )

			padding: 45px
			background-color: $lightBackgroundColor

			border-radius: 24px

			margin-bottom: 25px

			&__title
				font-size: 17px
				margin-bottom: 10px

			&__description
				font-size: 14px

/* MEDIA */
@media screen and (max-width: 1200px)
	.sell-info
		&__title
			width: 100%
			font-size: 17px

		&-main
			flex-direction: column
			margin-bottom: 50px

			&-text
				padding: 15px
				order: 2

				&__title
					font-size: 17px

				&__description
					font-size: 12px

			&-image
				order: 1

				width: 100%
				min-width: 100%

				height: 300px

		&-cooperation
			margin-bottom: 50px

			&-text
				padding: 15px

			&-types
				margin-top: 10px
				flex-direction: column

				&-block
					display: block

					width: 100%
					padding: 15px
					text-align: left

					margin-bottom: 10px

		&-steps
			display: none

		&-steps-media
			display: block

		&-contact
			margin-bottom: 50px

			&-blocks-wrapper
				overflow-x: auto
				overflow-y: hidden

			&-block
				width: 310px
				min-width: 310px

				margin-right: 15px

				&:last-child
					margin-right: 0

		&-service-one
			flex-direction: column
			margin-bottom: 50px

			&-blocks-wrapper
				width: 100%
				display: block

				order: 2

			&-block
				margin-bottom: 15px

				&:last-child
					margin-bottom: 0

				&-top
					&-icon
						display: block

			&-faq
				width: 100%

				order: 1
				text-align: center

				margin-bottom: 35px

		&-service-two
			margin-bottom: 50px

			&-blocks-wrapper
				flex-wrap: nowrap
				overflow-x: auto

			&-block
				padding: 15px
				text-align: center

				display: flex
				flex-direction: column
				align-items: center


				width: 340px
				min-width: 340px

				margin-right: 15px
				margin-bottom: 0

				&:last-child
					margin-right: 0
