// variables colors
$white: #ffffff
$black: #202020
$gray: #838383
$borderGray: #E8E8E8

$blackTransparent: rgba(0, 0, 0, 0.25)

$backgroundColor: #FFF
$lightBackgroundColor: #F7F7F7

$mainColor: #285141
$hoverMainColor: #1B503B

$red: #9A1A1A
